# Used this to configure sqlite
# Point this to the configuration above that you wish to use
#sqlite:
#  adapter: sqlite
#  database: development.db
#  verbosity: quiet
# Use this to configure mysql
airgo_db:
  encoding: utf8
  reconnect: true
  adapter: mysql2
  username: airgo
  database: airgo
  host: go_db
  port: 3306
  password: password
